doctype html
html
  head
    script(src='/bower/Audiolet/src/audiolet/Audiolet.js')
    script(src='/js/lib/tuna.min.js')
    script(src='/js/notes.js')
    script(src='/js/harp.js')
  body
    p Synth!
